#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ededed;
    padding: 10px;
    min-width: 100px;
    margin: 25px;
    border-radius: 20px;
}

.header{
    height: auto;
    background-color: var(--verde-secundario);

}

.logo_container{
    display: flex;
    align-items: center;
    width: 12%;
    padding-left: 2rem;
    justify-content: flex-start;
}

.logo_container>img{
    width: 50%;
}

.navbar_container{
    display: flex;
    background-color: var(--blanco);
    height: 100vh;
    border-radius: 20px;
}

.navbar_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar_list>li{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--blanco);
    /* font-size: 1rem; */
    padding: 1rem;
    text-align: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 1rem 1rem;
}

.navbar_list>li>a{
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--verde-secundario);
    font-size: 1.2rem;
    padding: 1rem;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}

.navbar_list>li>a:hover{
    color: #fff;
    background-color: var(--verde-secundario);
    border-radius: 10px;
}

.itemSelect{
    background-color: var(--verde-secundario);
    padding: 2rem 1rem;
    border-radius: 0.5rem ;
    transition: all 0.3s ease;
    color: var(--blanco);
}

.itemSelect>a>span{
    color: var(--blanco) !important;

}