@import './variables.css';


#windows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

#windows > .button {
    min-width: 270px;
}

#sec-load-cli {
    margin-top: 100px;
    display: block;
}
#sec-search-client {
    display: none;
}

#btn-add-nw-cli {
    margin: 20px auto;
}

#btn-cli-srch {
    display: block;
    max-width: 2800px;
    font-size: 1.2rem;
    border-radius: 10px;
}

#btn-cli-srch {
    box-sizing: border-box;
    margin-right: 100px;
    margin-top: 10px;
}

#cli-srch-bar {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    margin-top: 10px;
}

.label-body {
    width: 40%;
    min-width: 250px;
    margin: 50px 35px 50px 35px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 400;
}

.form-new-client {
    background-color: var(--blanco);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.selectEstilizado {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
}
    
.selectEstilizado:hover {
border-color: #999;
}

.selectEstilizado:focus {
border-color: #555;
}

.container-clientes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.table-body {
    width: 100%;
    flex-wrap: wrap;
    table-layout: fixed;
    margin: 15px auto;
    border-collapse: collapse;
    font-size: 1rem;
}

.table-row>td {
    background-color: var(--verde-secundario);
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--blanco);
}

.body-row:nth-child(odd) {
    color: var(--blanco);
    background-color: var(--celeste-principal);
}

.table-header,
.table-row>td,
.body-row>td{
    padding: 1rem;
}

@media (max-width: 650px) {

    #windows{
        justify-content: center;
        margin-top: 20px;
    }
    
    #container{
        width: 100%;
        margin: 0 auto;
        padding: 0%;
    }

    #sec-search-client{
        box-sizing: border-box;
        width: 100%;
    }

    #btn-cli-srch{
        margin: 20px 0;
        align-items: center;
    }

    .container-clientes{
        justify-content: center;
    }

    .content{
        margin: 0 auto;
        padding: 0%;
    }

    .form-new-client{
        justify-content: center;
    }

    .body-row>td{
    display: grid;
    grid-template-columns: 15ch auto;
    }

    .table-container{
        justify-content: center;
    }

    .table-header{
        display: none;
    }

    .body-row>td::before{
        font-weight: 700;
        text-transform: capitalize;
    }

    .body-row>td:nth-of-type(1)::before{
        content: "nombre: ";
    }

    .body-row>td:nth-of-type(2)::before{
        content: "apellido: ";
    }

    .body-row>td:nth-of-type(3)::before{
        content: "cuil/cuit: ";
    }

    .body-row>td:nth-of-type(4)::before{
        content: "dirección: ";
    }

    .body-row>td:nth-of-type(5)::before{
        content: "email: ";
    }

    .body-row>td:nth-of-type(6)::before{
        content: "teléfono: ";
    }

    .body-row>td:nth-of-type(7)::before{
        content: "editar: ";
    }

    .body-row>td:nth-of-type(8)::before{
        content: "eliminar: ";
    }
}