@import './variables.css';


#windows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sec-search-client {
    display: none;
}
.input-clientes{
    width: 50%;
}
.container-clientes{
    gap: 2rem;
    display: flex;
    align-items: flex-end;
    margin: 1rem;
}

@media screen and (max-width:600px){ 
    #windows{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .container-clientes{
        gap: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;  
    }
    

    
}

