@import './variables.css';

#sec-search-bill{
    display: none;
}

#windows{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.total-y-generar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-block: 2rem;
}

.filtros{
    margin-top: 2rem;
}
#btn-agregar-producto{
    width: 50%;
    margin-bottom: 2rem;
}
.container-bill-srch{
    gap: 2rem;
    display: flex;
    align-items: flex-end;
    margin: 1rem;
}

@media screen and (max-width:600px){ 
    .content-facturas{
        margin: 0;
        padding: 1rem;
      
    }
    #windows{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #btn-agregar-producto{
        justify-content: center;
    }

    .container-bill-srch{
        gap: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;  
    }

}