@import './variables.css';

body {
    font-family: var(--fuente-principal);
}

section{
    display: flex;
    justify-content: center;
}
.button {
    font-size: 1.3rem;
    width: 100%;
}

article{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
article>span {
    background-color: #d0cbcb;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}

form {
    background-color: #d0cbcb;
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px;
}

.inline1 {
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    width: 48%;
    max-width: 400px;
    margin: 20px 0px 40px 20px;
}

.inline2 {
    display: inline-block;
    max-width: 400px;
    width: 32.3%;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    margin-top: 40px;
}

.input{
    border: 0.1em solid black;
    border-radius: 5px;
    padding: 10px;
    max-width: 200px;
    margin: 5px;
}

h2 {
    background-color: var(--verde-secundario);
    border: 1px solid black;
    border-radius: 10px;
    color: var(--gris-claro);
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    font-size: 2rem;
    text-decoration: none;
}

#btn-change-user-data {
    margin-top: 100px;
}

i {
    display: inline;
}
