@import './variables.css';


article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.button {
    font-size: 1.3rem;
    width: 100%;
}

article>span {
    background-color: var(--verde-secundario);
    color: var(--blanco);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
}

form {
    width: 100%;
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px;
}

.inline1 {
    flex: 1;
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}

.inline2 {
    flex: 2;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}

.password-input{
    width: 33.3%;
    box-sizing: border-box;
    border: var(--borde);
    border-radius: 5px;
    box-shadow: var(--sombra);
    padding: 10px;
    max-width: 200px;
    margin: 5px;
}

.h2-body {
    background-color: var(--verde-secundario);
    border: var(--borde);
    border-radius: 10px;
    color: var(--gris-claro);
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.4rem;
    text-decoration: none;
    width: 60%;
}

#btn-change-user-data {
    margin: 20px auto;
    display: block;
    width: 60%;
}

i {
    display: inline;
}