@import './variables.css';

.header-login{
    background-color: transparent;
    justify-content: center;
}

.login{
    background-image: url(../assets/background-login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 6rem;
}
.logotipo {
    display: flex;
    justify-content: center;
}

.logotipo_img {
    width: 13rem;
    height: 100%;
}
.descripcion{
    margin: 0 3rem

}

.container_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
   
}

.register-container{
    display: none;
    justify-content: center;
}

.login-container{
    display: flex;
    justify-content: center;
 
}
.register-form, .login-form{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 2rem 5rem;
    gap: 0.5rem;
    width: 60%;
}
.input-login{
    width: 50%;
}
.input-pay{
    width: 100%;
}
.pago_container{
    display: none;
    flex-direction: column;
}

#errorLogin, #errorRegister{
    color: red;
    font-size: 0.8rem;
    height: 1rem;
    text-align: start;
}

.button-login{
    margin: 1rem;
}

@media screen and (max-width: 600px){
    .register-container{
        display: flex;
    }
    .login-container{
        display: none;
    }
    .register-form, .login-form{
        width: 100%;
    }
    .input-login, .input-pay{
        width: 100%;
    }

    .pago_container{
        display: flex;
    }
    .button-login{
        margin: 0.5rem;
    }
    .descripcion{
        margin: 0 1rem;
    }
    .container_buttons{
        margin-top: 2rem;
    }
    .logotipo_img {
        width: 10rem;
        height: 100%;
    }
    .login{
        padding-bottom: 2rem;
    }
    
}