/* Comenzamos realizando un ajuste general */
* {
    font-family: Arial, Helvetica, sans-serif, 'Lato';
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Declaramos las variables a utilizar */
:root {
    --violeta-oscuro-principal: #4e2a8e;
    --violeta-oscuro-secundario: #3c1f6b;
    --violeta-hover: #6941b6;
    --blanco: #ffffff;
    --gris-claro: #f4f4f4;
    --gris-texto: #555555;
    
    --borde: 1px solid var(--nivel-oscuro-0);
    --sombra: 0 0 7px var(--nivel-oscuro-1);
    --nav-width: 200px;
}

/* Colocamos un margen en el body de 80px para colocar la barra lateral */
body {
    margin-left: 80px;
}

/* Configuramos el header */
header {
    background-color: var(--violeta-oscuro-principal);
    color: var(--gris-claro);
    font-family: sans-serif;
    font-style: italic;
    width: 100%;
    height: 80px;
    justify-content: center;
    top: 0;
}

/* Realizamos las configuraciones generales de la barra lateral para que sea elegante y responsiva */
/* Ademas en las dos ultimas lineas ocultamos la barra de scroll para los navegadores firefox y Edge*/
.menu__nav {
    background-color: var(--violeta-oscuro-secundario);
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    overflow-y: scroll;
    overflow: hidden;
    border-right: 20px solid var(--violeta-oscuro-secundario);
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: width 0.3s ease;
}

/* Ocultamos la barra de scroll del menu__nav (solo para navegadores chrome, opera y safari) */
.menu__nav::-webkit-scrollbar {
    display: none;
}

/* Hacemos que la barra lateral aparezca cuando se pasa el puntero por encima */
.menu__nav:hover {
    width: 250px;
}

/* Le damos un margen al primer hijo de la clase div__option dentro de la clase menu__nav con fines estéticos */
.menu__nav .div__option:first-child {
    margin-top: 150px;
}

/* Ajustamos los divisores dentro de la clase menu__nav con fines estéticos */
.div__option {
    padding: 15px 15px;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
    position: relative;
}

/* Le damos estilo al texto */
.nav__text {
    font-family: Arial;
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
    color: var(--gris-claro);
}

/* Modificamos los iconos para que sean más claros y le damos un ancho predeterminado para que el texto quede alineado */
.div__option>a>span i{
    color: var(--gris-claro);
    width: 20px;
    margin-right: 15px;
}

/* Agregamos efectos de transicion con fines estéticos */
.div__option>a {
    transition: 0.2s;
    display: flex;
    align-items: center;
}

/* Agregamos efectos de hover con fines estéticos */
.div__option>a:hover {
    background-color: var(--violeta-hover);
    border-radius: 5px;
}


/* Clases para JavaScript */

.body__move {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}