@import './variables.css';



[id^="chart-container-"]{
    display: none;
}

#chart-container-stock{
    display: block;
}

#table-container-historial-ventas{
    display: none;
}

.input-metricas{
    width: 50%;
    margin-block: 1rem; ;
}

.medidaGrafico{
    width: 80%;
    height: 80%;    
}

.label-metricas{
    padding: 0 1rem;
    margin-block: 1rem;
}