@import './variables.css';

#windows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

#windows:first-child{
    align-self: center;
    min-width: 200px;
}

#section-upload{
    display: none;
}

#input-prod-search {
    border: var(--borde);
    border-radius: 10px;
    width: 30%;
    min-width: 250px;
    height: 30px;
    margin: 20px auto;
}

#btn-add-prod-serv {
    display: inline-block;
    max-width: 2800px;
    font-size: 1.2rem;
    border-radius: 10px;
    height: 63px;
    width: 200px;
    position: relative;
    bottom: 0;
    right: 0;
    margin-right: 180px;
    margin-top: 70px;
}

#btn-prod-serv-srch {
    display: block;
    max-width: 2800px;
    font-size: 1.2rem;
    border-radius: 10px;
}

#prod-serv-form-container{
    margin: 50px 0px 50px;
}

#prod-serv-form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#submit-upload-stock{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px auto;
    justify-content: center;
    width: 50%;
}

.label-body {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    max-width: 100%;
    width: 40%;
    min-width: 200px;
    margin: 50px 35px 50px 35px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 400;
}

.label-body>input{
    flex-grow: 1;
    border: var(--borde);
    box-shadow: var(--sombra);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.container-search-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table-container{
    max-width: 100%;
    overflow-x: auto;
}

.table-body{
    width: 100%;
    flex-wrap: wrap;
    table-layout: fixed;
    margin: 15px auto;
    border-collapse: collapse;
    font-size: 1rem;
}

.table-row>td {
    background-color: var(--verde-secundario);
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--blanco);
}

.body-row:nth-child(odd) {
    color: var(--blanco);
    background-color: var(--celeste-principal);
}

.table-header,
.table-row>td,
.body-row>td{
    padding: 1rem;
}

.body-row:hover {
    background-color: #999;
}

td.editable {
    cursor: pointer;
}

input.editing {
    border: var(--borde);
    border-radius: 10px;
    padding: 5px;
}

.selectEstilizado {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
}
    
.selectEstilizado:hover {
border-color: #999;
}

.selectEstilizado:focus {
border-color: #555;
}

.container-prod-serv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-group{
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.btn-group>.btn btn-outline-primary{
    flex: 1 0 10rem;
}

.button-search{
    border-radius: 2rem;
    background-color: var(--celeste-principal);
    padding: 1rem;
}

.button-search:hover{
    background-color: var(--celeste-hover);
}

.button-upload{
    position: fixed;
    bottom: 10%;
    right: 3%;
    font-size: 3rem;
    padding: 0;
    border-radius: 3rem;
    height: 5rem;
    width: 5rem;
}

@media (max-width: 650px) {
    #container{
        width: 100%;
        margin: 0 auto;
        padding: 0%;
    }

    #windows{
        justify-content: center;
        margin-top: 20px;
    }

    #section-search{
        box-sizing: border-box;
        width: 100%;
    }

    #prod-serv-form{
        justify-content: center;
    }

    .button-search{
        min-width: 200px;
    }

    .container-search-productos{
        justify-content: center;
    }
    .content{
        margin: 0 auto;
        padding: 0%;
    }

    .body-row>td{
        display: grid;
        grid-template-columns: 15ch auto;
        }
    
        .table-container{
            justify-content: center;
        }
    
        .table-header{
            display: none;
        }
    
        .body-row>td::before{
            font-weight: 700;
            text-transform: capitalize;
        }
    
        .body-row>td:nth-of-type(1)::before{
            content: "categoría: ";
        }
    
        .body-row>td:nth-of-type(2)::before{
            content: "nombre: ";
        }
    
        .body-row>td:nth-of-type(3)::before{
            content: "stock: ";
        }
    
        .body-row>td:nth-of-type(4)::before{
            content: "precio: ";
        }
    
        .body-row>td:nth-of-type(5)::before{
            content: "descripción: ";
        }
    
        .body-row>td:nth-of-type(6)::before{
            content: "editar: ";
        }
    
        .body-row>td:nth-of-type(7)::before{
            content: "eliminar: ";
        }

}