@import '../styles/_styles-components/_inputs-buttons.css';
@import '../styles/_styles-components/_navbar.css';
@import '../styles/_styles-components/_footer.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    font-weight: 400;
    --celeste-principal:#00758b ;
    --verde-secundario: #175350;
    --celeste-hover: #3fb1be;
    --verde-hover: #204443;
    --blanco: #ffffff;
    --gris-claro: #f4f4f4;
    --gris-texto: #555555;
    --negro: #000000;
    --borde: 1px solid var(--negro);
    --sombra: 0 0 7px var(--gris-texto);
    --nav-width: 200px;
    --background-gris:#f0f0f0
    --fuente-principal: 'Lato', sans-serif;;

}
.container{
    display: grid;
    grid-template-columns: 22% 78%;
    background-color: var(--background-gris);
    margin: 0;
}

.content{
    margin: 0rem 0rem;
    background-color: var(--background-gris);
    border-radius: 3rem 2rem 2rem 0rem;
    margin: 0rem 0rem 2rem 1rem;
    padding: 2rem;

}
